.datatable .col {
    cursor: pointer;
    background-color:rgb(231, 21, 231);
    color: rgb(0, 0, 0);
}

.datatable .col .pointer:after {
    font-size: 80%;
    content: "";
    margin-right: 18px;
}

.datatable .col .pointer:hover:after {
    font-size: 80%;
    margin-right: 0;
}